$yellow_primary_color: #FFE600;
$white_color: #FFFFFF;
$light_grey_color: #EEEEEE;
$dark_grey_color: #999999;
$grey_color: #666666;
$black_color: #333333;
$blue_primary_button_color: #3483FA;

$small_space: 16px;
$medium_space: 32px;
$image_size: 180px;

$extra_large_font_size: 46px;
$large_font_size: 24px;
$medium_font_size: 18px;
$small_font_size: 14px;
$smallest_font_size: 12px;

$normal_weight: 400;
$bold_weight: 700;